
// make a new form input component, to perform the exact same way as a regular input, but with our own styling on it, including managing the label, and the little micro-interaction when you click on it

.sign-in {
    // width: 30vw;
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0i;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}